.js-spreadsheet {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.js-spreadsheet__container {
    display: flex;
    border: 1px solid $cell-border;
    flex-direction: column;

    .js-spreadsheet-col {
        display: inline-block;
        flex: 1;
        min-width: 100px;
        text-align: center;
        overflow: hidden;
        border-right: 1px solid $cell-border;

        &.js-spreadsheet-col-selected {
            background: $selected-cell;
            border-left: 1px solid $selected-cell-border;
            border-right: 1px solid $selected-cell-border;
        }
    }

    .js-spreadsheet-row {
        display: flex;
        border-bottom: 1px solid $cell-border; 

        &.js-spreadsheet-row-selected {
            background: $selected-cell;
            border-top: 1px solid $selected-cell-border;
            border-bottom: 1px solid $selected-cell-border;
        }
    }

    .js-spreadsheet-col.js-spreadsheet-origin,
    .js-spreadsheet-row.js-spreadsheet-row_0,
    .js-spreadsheet-col.js-spreadsheet-row__index {
        position: sticky;
        z-index: 0;
    }

    .js-spreadsheet-col.js-spreadsheet-origin,
    .js-spreadsheet-col.js-spreadsheet-row__index {
        left: 0;
    }

    .js-spreadsheet-col.js-spreadsheet-origin,
    .js-spreadsheet-row_0{
        top: 0;
    }

    .js-spreadsheet-col.js-spreadsheet-origin {
        z-index: 11;
    }

    .js-spreadsheet-origin,
    .js-spreadsheet-row__index,
    .js-spreadsheet-col__index {
        background: $index-cell;
        user-select: none;
        cursor: pointer;
    }

    .js-spreadsheet-col__index {
        line-height: 24px;
    }

    .js-spreadsheet-row.js-spreadsheet-row-selected .js-spreadsheet-col__0,
    .js-spreadsheet-row.js-spreadsheet-row-selected .js-spreadsheet-cell,
    .js-spreadsheet-col.js-spreadsheet-col-selected .js-spreadsheet-cell {
        background: $selected-cell;
    }

    a.js-spreadsheet-origin,
    a.js-spreadsheet-row__index {
        min-width: 50px;
        max-width: 50px;
        min-height: 25px;
        line-height: 25px;
        padding-top: 7px;
    }

    .js-spreadsheet-cell {
        width: 100%;
        height: 100%;
        min-width: 100px;
        border: 0;
        padding: 3px;
        resize: unset;
        outline: none;
        box-shadow: inset 0 0 3px;

        &[disabled] {
            background: $cell-disabled;
            box-shadow: none;
        }
    }
}