@import "./variables.scss";

.js-spreadsheet-context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 200px;
  background-color: $white;
  border-radius: 5px;
  border: solid 1px $context-menu-border;
  box-shadow: 3px 3px 5px $context-menu-shadow;

  .js-spreadsheet-context-menu--active {
    display: block;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;

    &.js-spreadsheet-context-menu__items--selected_cols {
      .js-spreadsheet-context-menu__row:not(.js-spreadsheet-context-menu__cols),
      .js-spreadsheet-context-menu__col:not(.js-spreadsheet-context-menu__cols) {
        display: none;
      }
    }

    &.js-spreadsheet-context-menu__items--selected_rows {
      .js-spreadsheet-context-menu__row:not(.js-spreadsheet-context-menu__rows),
      .js-spreadsheet-context-menu__col:not(.js-spreadsheet-context-menu__rows) {
        display: none;
      }
    }

    &.js-spreadsheet-context-menu__items--selected_col {
      .js-spreadsheet-context-menu__row,
      .js-spreadsheet-context-menu__cols {
        display: none;
      }
    }

    &.js-spreadsheet-context-menu__items--selected_row {
      .js-spreadsheet-context-menu__col,
      .js-spreadsheet-context-menu__rows {
        display: none;
      }
    }
  }

  &__item {
    display: block;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__link {
    display: block;
    padding: 4px 12px;
    color: $context-menu-active;
    text-decoration: none;

    &:hover {
      color: $white;
      background-color: $context-menu-active;
    }
  }
}