/* ------------------------------------ *\
 # spreadsheet View Color Variables
\* ------------------------------------ */

$white: #ffffff;
$cell-border: #aaaaaa;
$cell-disabled: #fdfbfb;
$index-cell: #eeeeee;

$selected-cell: #b9def5;
$selected-cell-border: #174c6d;

$context-menu-border: #dfdfdf;
$context-menu-shadow: #aaaaaa;
$context-menu-active: #194b6d;
$context-menu-icon: #5f5555;