/* ------------------------------------ *\
 # spreadsheet View Color Variables
\* ------------------------------------ */

$white: #ffffff;
$cell-border: #aaaaaa;
$cell-disabled: #fdfbfb;
$index-cell: #eeeeee;

$context-menu-border: #dfdfdf;
$context-menu-shadow: #aaaaaa;
$context-menu-active: #194b6d;